body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
	/* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: rgba(30,33,58, .9);
	/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	border: 1px solid #1E213A;
	border-radius: 4px;
	background-color: #100E1D;
}

button, a{
    cursor: pointer;
}

.drawer-search .MuiDrawer-paperAnchorLeft{
    width: 459px;
}